@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("../font/sanfrancisco-ultralight-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("../font/sanfrancisco-thin-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("../font/sanfrancisco-regular-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("../font/sanfrancisco-medium-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("../font/sanfrancisco-semibold-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("../font/sanfrancisco-bold-webfont.woff");
}

* {
  font-family: "San Francisco" !important;
}

.fa {
  font-family: FontAwesome !important;
}
