.full-height {
  min-height: 100vh;
  box-sizing: border-box;
}
.justify p {
  text-align: justify;
}
#trajetoria .collapse {
  transition-duration: 1s;
}
.flex-horizontal-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
button {
  background-color: #BA9E00;
  border: none;
  padding: .5em 1em;
  color: white;
  font-weight: bolder;
}
.flex-center-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cta {
  display: inline-block;
  background-color: #7F2A49;
  border: 0 solid #7F2A49;
  outline: none;
  font-size: 1.6em;
  padding: 1em;
  transition: all .2s ease;
  font-weight: 500;
  text-transform: uppercase;
}
.cta,
.cta:hover,
.cta:visited,
.cta:active {
  text-decoration: none !important;
  color: white !important;
}
.cta:hover {
  background-color: #923054;
  border: 0.25em solid #923054;
}
.no-margin {
  margin: 0;
}
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.full-width {
  width: 100%;
}
.navbar {
  width: 100vw;
}
.contatos .row {
  margin: 1em 0;
}
.contatos .row a {
  color: #333333;
}
.contatos .row a:hover {
  color: #4d4d4d;
}
h2 {
  margin-top: 2em;
}
h1 a,
h2 a,
h3 a,
h1 a:active,
h2 a:active,
h3 a:active,
h1 a:hover,
h2 a:hover,
h3 a:hover {
  cursor: pointer;
  text-decoration: none;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nav-tabs {
  border-bottom-color: #9a8f5a;
}
.nav-tabs li a {
  text-transform: capitalize;
  color: white !important;
  background-color: #8a8051 !important;
  border-color: #9a8f5a !important;
  border-bottom-color: transparent !important;
  border-bottom-width: 0 !important;
  margin-bottom: 0 !important;
}
.nav-tabs li.active a {
  background-color: #6A623E !important;
  border-color: #9a8f5a;
}
.nav-tabs li:hover a,
.nav-tabs li.active:hover a {
  background-color: #9a8f5a;
}
.nav-tabs li:active a {
  background-color: inherit;
}
.tab-content {
  background-color: #6A623E;
  border: 1px solid #9a8f5a;
  border-top-width: 0;
  border-top-color: transparent;
}
.highlight {
  padding: 1em;
  background-color: #BA9E00;
  color: white;
  margin: 1em 1em 0;
  border-radius: 3px;
}
.highlight p {
  margin: .5em 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.profile {
  margin-bottom: 1em;
}
.profile img {
  width: 5em;
  border-radius: 50%;
}
.profile p {
  margin: .15em 0;
}
.profile .social {
  margin: .3em 0;
}
.max-img {
  max-height: 10em;
}
.img-tooltip + .tooltip {
  opacity: 1;
  transition: opacity .5s ease;
}
.img-tooltip + .tooltip .tooltip-inner {
  max-height: 50vh;
  max-width: 50vw;
}
.img-tooltip + .tooltip .tooltip-inner img {
  max-height: 100%;
  max-width: 100%;
}
.carousel {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.carousel .carousel-inner {
  position: relative;
}
.carousel .carousel-inner .item {
  transition-property: opacity;
}
.carousel .carousel-inner .item img {
  max-height: 40vw;
  min-width: 80%;
  margin: auto;
}
.carousel .carousel-inner .item .carousel-caption {
  bottom: 0;
}
.carousel .carousel-inner .item .carousel-caption h3 {
  margin-bottom: 0em;
}
.carousel .carousel-inner .item .carousel-caption p {
  margin-bottom: 1em;
}
.carousel .carousel-inner .item,
.carousel .carousel-inner .active.left,
.carousel .carousel-inner .active.right {
  opacity: 0;
}
.carousel .carousel-inner .active,
.carousel .carousel-inner .next.left,
.carousel .carousel-inner .prev.right {
  opacity: 1;
}
.carousel .carousel-inner .next,
.carousel .carousel-inner .prev,
.carousel .carousel-inner .active.left,
.carousel .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#bs-example-navbar-collapse-1 .navbar-right {
  padding-right: 1em;
}
img.info-icon {
  height: 7em;
  width: 7em;
}
img.img-responsive {
  margin: auto;
}
img.logo {
  max-width: 90%;
}
header .btn-primary {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}
header .btn-primary:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
header p {
  color: white !important;
  font-size: 1.4 em !important;
  text-shadow: 1px 1px 4px black;
}
.bg-photo {
  background-position: 50%;
  background-size: cover;
  background: url(../img/back.jpg);
  height: 35em;
}
.bg-feiras {
  background: url(../img/bg.png);
}
.parceiros {
  margin-top: 1em;
  margin-bottom: 1em;
}
.bg-cestas {
  background-color: #a18800;
  color: white;
}
.bg-cestas a,
.bg-cestas a:visited {
  color: #1d1d1d;
}
.bg-cestas a:hover,
.bg-cestas a:active {
  color: #2a2a2a;
}
.bg-primary {
  background: white;
  color: #555555 !important;
}
.bg-primary p {
  color: #555555 !important;
  font-size: 1.2em;
}
input:not([type='image']) {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1.5em;
  border: none;
  color: #220000;
  font-size: 1.1em;
  font-weight: 500;
  margin-right: 0.8em;
  outline: none;
  padding: 0.7em 1.1em;
  transition: all 0.35s;
}
input:not([type='image']):focus {
  background-color: rgba(255, 255, 255, 0.8);
}
section {
  padding-top: 2em;
  padding-bottom: 2em;
}
@media screen and (max-width: 900px) {
  input {
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
  }
}
.maybehide {
  display: none;
}
button {
  outline: none;
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #443333;
}
b {
  font-weight: 500;
}
strong {
  font-weight: 500;
}
.condominiosList {
  color: #A0A0A0;
  display: block;
  font-size: 24px;
  list-style: none;
  padding: 0;
  text-align: middle;
  text-decoration: none;
}
.cestasRow {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service-box {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.service-box .flex {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service-box .flex .bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.cestas-header {
  color: white !important;
  padding-top: 25px;
}
.linkSaibaMais {
  color: #F7E05E;
  font-size: 1.1em;
  font-size: 14px;
  font-weight: 900;
  padding-top: 10px;
  text-decoration: none !important;
}
.linkSaibaMais:hover {
  color: #EBC700;
}
.linkSaibaMais::before {
  content: "+ ";
}
